body{
    font-family:Microsoft JhengHei;
}
a:hover {
    color: #f0e68c;
    text-decoration: none
}

.container{
    padding-top: 50px;
}

.index_nav {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav_title {
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 700;
}

.nav_ul_baseSet {
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    font-size: 25px;
    font-weight: bold;
    background-color: #778899;
}

@media (max-width: 1300px){
    .sidebar{
        display: none;
    }
}

.list_ul {
    padding-left: 0px;
}

.list_li {
    position: relative;
    display: block;
    padding: 20px 15px;
    margin-bottom: -1px;
    border-bottom: 1px solid #eee;
}

.list_a {
    color: #ffffff;
    letter-spacing: 3px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .sidebar-collapse,
    .navbar-static-top .sidebar-collapse,
    .navbar-fixed-bottom .sidebar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

